<div class="container">
  <div class="progress-bar">
    <span class="far fa-dot-circle active"></span>
    <span class="middle-line active"></span>
    <span class="far fa-dot-circle"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
  </div>
  <div class="page-title">
    <div class="main-title Title">
      Create Account
    </div>
    <div class="subtitle Subtitle">
      Glad to see you here!
    </div>
  </div>
  <div class="content Form">
    <form [formGroup]="form" (submit)="goToNextPage()">
      <div class="input-field one-col">
        <label for="account">Account</label>
        <input name="account" type="email" placeholder="example@email.com" formControlName="account">
      </div>
      <div class="input-field one-col">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password">
      </div>
      <div class="input-field one-col">
        <label for="repassword">Confirm Password</label>
        <input type="password" name="repassword" formControlName="repassword">
      </div>
      <button class="one-col">SUBMIT & NEXT</button>
    </form>

  </div>

</div>
