<div class="container">
  <div class="progress-bar">
    <span class="far fa-dot-circle active"></span>
    <span class="middle-line active"></span>
    <span class="far fa-dot-circle"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
  </div>
  <div class="page-title">
    <div class="main-title Title">
      Create Account
    </div>
    <div class="subtitle Subtitle">
      Glad to see you here!
    </div>
  </div>
  <div class="content Form">
    <form [formGroup]="form" (submit)="goToNextPage()">
      <div class="input-field one-col" [ngClass]="{warning: account.touched && account.errors}">
        <label for="account">Account</label>
        <input name="account" type="email" placeholder="example@email.com" formControlName="account">
        <div class="errMsg" *ngIf="account.errors && account.errors['required']">Required</div>
        <div class="errMsg" *ngIf="account.errors && account.errors['invalidEmail']">Email is invalid</div>

      </div>
      <div class="input-field one-col" [ngClass]="{warning: password.touched && password.errors}">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password">
        <div class="errMsg" *ngIf="password.errors && password.errors['required']">Required</div>
      </div>
      <div class="input-field one-col" [ngClass]="{warning: repassword.touched && repassword.errors}">
        <label for="repassword">Confirm Password</label>
        <input type="password" name="repassword" formControlName="repassword">
        <div class="errMsg" *ngIf="repassword.errors && repassword.errors['required']">Required</div>

      </div>
      <button class="one-col" [ngClass]="{active: form.touched && form.valid}" [disabled]="form.untouched||form.invalid">SUBMIT & NEXT</button>
      <div>form.untouched: {{form.untouched}}</div>
      <div>form.errors: {{form.errors| json}}</div>
      <div>form.value: {{form.value| json}}</div>
      <div>form.invalid: {{form.invalid| json}}</div>
      <div>form.dirty: {{form.dirty| json}}</div>
      <div>form.pristine: {{form.pristine| json}}</div>
      <div>form.get("account").errors: {{form.get("account").errors | json}}</div>
    </form>

  </div>

</div>
