<div class="container">
  <div class="progress-bar">
    <span class="far fa-dot-circle active"></span>
    <span class="middle-line active"></span>
    <span class="far fa-dot-circle"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
  </div>
  <div class="page-title">
    <div class="main-title Title">
      Create Account
    </div>
    <div class="subtitle Subtitle">
      Glad to see you here!
    </div>
  </div>
  <div class="content Form">
    <form [formGroup]="form" (submit)="goToNextPage()">
      <div class="input-field one-col" [ngClass]="{warning: account.touched && account.errors}">
        <label for="account">Account</label>
        <input name="account" type="email" placeholder="example@email.com" formControlName="account">
        <ng-container *ngIf="account.touched && account.errors">
          <div class="errMsg" *ngIf="account.dirty && account.errors['invalidEmail']">Email is invalid</div>
          <div class="errMsg" *ngIf="account.pristine &&  account.errors['required']">Required</div>
        </ng-container>

      </div>
      <div formGroupName="matchingPasswords">

        <div class="input-field one-col" [ngClass]="{warning: password.touched && password.errors}">
          <label for="password">Password</label>
          <input type="password" name="password" formControlName="password">

          <ng-container *ngIf="password.touched && password.errors">
            <div class="errMsg" *ngIf="password.dirty && password.errors['invalidPassword']">min 6 words, 1 a-z or A-Z, 1 number</div>
            <div class="errMsg" *ngIf="password.pristine && password.errors['required']">Required</div>

          </ng-container>
        </div>
        <div class="input-field one-col" [ngClass]="{warning: repassword.touched && repassword.errors}">
          <label for="repassword">Confirm Password</label>
          <input type="password" name="repassword" formControlName="repassword">
          <div class="errMsg" *ngIf="repassword.errors && repassword.errors['required']">Required</div>
          <div class="errMsg" *ngIf="repassword.errors && repassword.errors['mismatchPassword']">Password mismatch!</div>
        </div>
      </div>

      <button class="one-col" [ngClass]="{active: form.touched && form.valid}" [disabled]="form.untouched||form.invalid">SUBMIT & NEXT</button>
    </form>

  </div>

</div>
