<div class="container">
  <div class="progress-bar">
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="far fa-dot-circle active"></span>
  </div>
  <div class="page-title">
    <div class="main-title Title">
      Payment Method
    </div>
    <div class="subtitle Subtitle">
      Add your credit card information!
    </div>
  </div>
  <div class="content">
    <div class="input-field one-col">
      <label for="" class="Form">Card Number</label>
      <input name="" type="text" placeholder="1234 5678 9012 3456">
    </div>
    <div class="input-field one-half-col">
      <label for="" class="Form">Cardholder Name</label>
      <input name="" type="text" placeholder="EXAMPLE NAME">
    </div>
    <div class="input-field one-half-col">
      <label for="" class="Form">Bank Name</label>
      <input name="" type="text" placeholder="EXAMPLE BANK">
    </div>


    <div class="input-field one-third-col">
      <label for="" class="Form">CVV</label>
      <input type="text" name="" min="1900" max="2018" placeholder="123">
    </div>
    <div class="input-field one-third-col">
      <label for="" class="Form">Expire Date</label>
      <input type="number" name="month" min="1" max="12" placeholder="MM">
    </div>
    <div class="input-field one-third-col">
      <label for="" class="Form"></label>
      <input type="number" name="year" min="2018" max="2060" placeholder="YYYY">
    </div>

    <button>Done</button>

  </div>
