<div class="container">
  <div class="progress-bar">
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="far fa-dot-circle active"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
  </div>
  <div class="page-title">
    <div class="main-title Title">
      General Information
    </div>
    <div class="subtitle Subtitle">
      Tell us who you are!
    </div>
  </div>
  <div class="content">
    <div class="input-field one-half-col">
      <label for="name" class="Form">Name(optional)</label>
      <input name="name" type="text" placeholder="Example Name">
    </div>
    <div class="input-field one-half-col">
      <label for="Phone" class="Form">Phone*</label>
      <input name="phone" type="text" placeholder="0912 345 678">
    </div>


    <div class="input-field one-third-col">
      <label for="" class="Form" style="white-space: nowrap;">Birth Date(optional)</label>
      <input type="number" name="year" min="1900" max="2018" placeholder="YYYYY">
    </div>
    <div class="input-field one-third-col">
      <label for="" class="Form"></label>
      <input type="number" name="month" min="1" max="12" placeholder="MM">
    </div>
    <div class="input-field one-third-col">
      <label for="" class="Form"></label>
      <input type="number" name="day" min="1" max="31" placeholder="DD">
    </div>

    <div class="input-field one-half-col">
      <label for="" class="Form">Address*</label>
      <input type="text" placeholder="City">
    </div>
    <div class="input-field one-half-col">
      <label for=""></label>
      <input type="text" placeholder="Dist">
    </div>
    <div class="input-field one-col nomargin">
      <label for=""></label>
      <input type="text" placeholder="Address Detail">
    </div>
  </div>
  <button>SUBMIT & NEXT</button>

</div>
