<div class="container">
  <div class="progress-bar">
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="far fa-dot-circle active"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
  </div>
  <div class="page-title">
    <div class="main-title Title">
      Update Profile Picture(optional)
    </div>
    <div class="subtitle Subtitle">
      We wanna know you more
    </div>
  </div>
  <div class="content">
    <div class="input-field one-col" [ngClass]="{active: dragging}">
      <label class="img-upload" (drop)="onDrop($event)" (dragenter)="onDragenter($event)" (dragover)="onDragover($event)" (dragleave)="onDragleave($event)">
        <input type="file">

        <div class="img-upload-content">
          <i class="fas fa-images"></i>
          <div>
            UPLOAD UP TO 3 PHOTOS
          </div>
          <div>MAXIMUM SIZE: 150*150px</div>

        </div>

      </label>
    </div>
    <div class="one-col upload-warning Form" [ngClass]="{active: oversizedFileExist}">
      <i class="fas fa-exclamation-triangle"></i>
      ONE FILE IS OVER THE MAXIMUM SIZE
    </div>
    <div id="photos" class="photos">
      <!-- <div>
        <img src="https://images.unsplash.com/photo-1513827379601-9dba5099a3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1acdd78f34ee75aade9e313251bb1695&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgbhttps://unsplash.com/photos/seTr2ZmQDcM">
        <button></button>

      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1514632542677-48fae74a01b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf412aceb1d689765e387d30fca7210a&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb" alt="">
        <button></button>

      </div> -->
      <div *ngFor="let image of images; let i=index">
        <img [src]="image" alt="">
        <button (click)="deleteImage(i)"></button>
      </div>

    </div>

    <!-- <button class="one-col" [ngClass]="{active: images.length!==0}" [disabled]="images.length === 0" (click)="goToNextPage()">SUBMIT & NEXT</button> -->
    <button class="one-col active" (click)="goToNextPage()">SUBMIT & NEXT</button>
  </div>
