<div class="container">
  <div class="progress-bar">
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="far fa-dot-circle active"></span>
    <span class="middle-line"></span>
    <span class="far fa-dot-circle"></span>
  </div>
  <div class="page-title">
    <div class="main-title Title">
      Update Profile Picture
    </div>
    <div class="subtitle Subtitle">
      We wanna know you more
    </div>
  </div>
  <div class="content">
    <div class="input-field one-col">
      <label class="img-upload" for="">
        <input type="file">

        <div class="img-upload-content">
          <i class="fas fa-images"></i>
          <div>
            UPLOAD UP TO 3 PHOTOS
          </div>
          <div>MAX</div>
        </div>

      </label>
    </div>
  </div>
  <button>SUBMIT & NEXT</button>
