<div class="container">
  <div class="progress-bar">
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="fas fa-check-circle active"></span>
    <span class="middle-line active"></span>
    <span class="fas fa-check-circle active"></span>
  </div>
  <div class="page-title">
    <div class="main-title Title">
      Congratulations
    </div>
    <div class="subtitle Subtitle">
      Now you're one of us!
    </div>
  </div>
  <div class="content">
    <div class="input-field one-col">
      <i class="fas fa-smile congratulation-smile"></i>

    </div>
  </div>

  <div class="one-col message-redirect">
    Redirected to homepage after 5 seconds...
  </div>
</div>
